   <div class="main_page">
  		<div class="heading_part">
  			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-xs-12">
						<h2>
							Post to Multiple (Groups)<br/>
							<small>The one and only Facebook Multiple Groups Poster Tool </small>
						</h2>
					</div>
				</div>
			</div>
		</div>
		</div>

        <div class="container"> 
			<div class="row">
				<div class="col-sm-7 col-xs-12">
					<div class="feature">
					<h3>Features</h3>
					<ul>
						<li>
							<a href="#">
								<%=fa_icon 'check' %>
								Bulk post to Facebook groups you have joined
							</a>
						</li>
						<li>
							<a href="#">
								<%=fa_icon 'check' %>
								Bulk Posting "Image Comments" (when using commentator mode)
							</a>
						</li>
						<li>
							<a href="#">
								<%=fa_icon 'check' %>
								Fast, simple and easy to use
							</a>
						</li>
						<!-- <li>
							<a href="#">
								<i class="fa fa-check">&nbsp;</i>
								and many more...
							</a>
						</li> -->
					</ul>
				</div>			
			</div>

			<div class="col-sm-5 col-xs-12 cont_center login-with-fb ">
					
				<h3>Login with Facebook and start posting now !</h3>
				<%= link_to( image_tag("login-with-facebook.jpeg"), "/auth/facebook" ) %>
			</div>
		</div>
		
		</div>

    







   
