
   <div class="container">
   <div class="row">
      <div class="col-md-5 col-md-offset-4">
      <h2>Place Order</h2>
      <form accept-charset="UTF-8" action="/orders"  method="post" class="form-horizontal">
      <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="mTr5lv7wDUOAkjvrROLCFEZonbb5/0tWwCP3YdDMslY=" />
      </div>
        

        
        <div class='form-group'>
          <label class="string optional control-label  col-md-4" for="order_description">Product Name</label>
          <div class='controls col-md-8'>
            <label class='checkbox'>
              <%=session["productName"] %>
            
            </label>
            <input id="order_description" name="order[description]" type="hidden" value="<%=session["productName"] %>" />
            <input type="hidden" name="order[payment_method]" value=""/>
          </div>
        </div>

         <div class='form-group'>
          <label class="string optional control-label  col-md-4" for="order_description">Product Description</label>
          <div class='controls col-md-8'>
            <label class='checkbox'>
              <%=session["productDesc"] %>
            
            </label>
          </div>
        </div>
        
        <div class='form-group'>
          <label class="string optional control-label col-md-4" for="order_amount">Amount</label>
          <div class='controls col-md-8'>
            <label class='checkbox'>
              $0.99
            </label>
            <input id="order_amount" name="order[amount]" type="hidden" value="0.99" />
          </div>
        </div> 


        <div class='form-actions'>
        <input class="btn btn btn-primary" name="commit" type="button" value="Back" onClick="history.back();" />  <input class="btn btn btn-primary" name="commit" type="submit" value="Place Order" />
        </div>
      </form>
      </div>
      
      <div class="clearfix"></div><br/><br/>
      </div>
      </div>
    
  
